{% extends 'layout/base.html' %}


{% load bootstrap4 %}


{% block content %}
    {% if boastpost.author.pk == user.pk %}
        <p>
            Header -
            <a href="{% url 'main:change_post' pk=boastpost.pk %}">{{ boastpost.header }}</a>
        </p>
    {% else %}
        <p>Header - {{ boastpost.header }}</p>
    {% endif %}
    <p>Content - {{ boastpost.content }}</p>
    <p>Created - {{ boastpost.created_at }}</p>
    <p>Author - {{ boastpost.author.username }}</p>
    {% for comment in boastpost.comments.all %}
        <p><b>{{ comment.owner.username }}</b> {{ comment.message }} Created: {{ comment.created_at }}</p>
    {% endfor %}
    {% with boastpost as post %}
        {% include 'main/like.html' %}
    {% endwith %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit">Comment</button>
        {% endbuttons %}
    </form>
    {% if boastpost.author == user %}
        <form action="{% url 'main:delete_post' pk=boastpost.pk %}" method="post">
            {% csrf_token %}
            <a href="{% url 'main:delete_post' pk=boastpost.pk %}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </a>
        </form>
    {% endif %}
{% endblock %}