{% extends 'layout/base.html' %}


{% load static %}
{% load thumbnail %}


{% block content %}
    <div class="flex-column">
        {% if user.avatar %}
            <img src="{% thumbnail user.avatar 'profile' %}" alt="">
        {% endif %}
    </div>
    {% for post in posts %}
        <div><a href="{% url 'main:detail_post' pk=post.pk %}">{{ post.header }}</a></div>
        <div>
            <a href="{% url 'main:detail_post' pk=post.pk %}">
                {% if post.image %}
                    <img src="{% thumbnail post.image 'default' %}" alt="">
                {% endif %}
            </a>
        </div>
        <div>{{ post.content }}</div>
        {% include 'main/like.html' %}
    {% endfor %}
{% endblock %}